<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');
    </style>
</head>

<body style="background-image: url(/static/errorbg.png);">
    <div style="
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
"><a style="
    width: 80%;
    text-align: center;
    color: rgb(120, 9, 169);
    font-size: xx-large;
    font-family: katibeh
">
            Oh noo...<br>
            Whatever you are looking for isn't here.<br>
            But don't worry It must be somewhere you will find it someday.<br>
            Keep looking.
            <br></a>
            <a href="/"><svg id="heart1" width="72px" height="72px" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg"
            style="fill: rgb(240, 123, 229);">
            <path
                d="M36 57.168l-0.864 -0.72C16.56 41.328 11.52 36 11.52 27.36c0 -7.2 5.76 -12.96 12.96 -12.96 5.904 0 9.216 3.312 11.52 5.904 2.304 -2.592 5.616 -5.904 11.52 -5.904 7.2 0 12.96 5.76 12.96 12.96 0 8.64 -5.04 13.968 -23.616 29.088l-0.864 0.72zM24.48 17.28c-5.616 0 -10.08 4.464 -10.08 10.08 0 7.344 4.608 12.24 21.6 26.064 16.992 -13.824 21.6 -18.72 21.6 -26.064 0 -5.616 -4.464 -10.08 -10.08 -10.08 -5.04 0 -7.776 3.024 -9.936 5.472L36 24.624l-1.584 -1.872C32.256 20.304 29.52 17.28 24.48 17.28z">
                Home</path>
        </svg></a></div>
</body>

</html>